body {
    display: grid;
    grid-template-columns:  1fr 1.5fr 1fr;
    grid-template-areas: 
    ". logo ."
    ". main ."
    ". header ."
    ". bulletPoints ."
    ". list ."
    ". mainText ."
    ". ebook ."
    ". form ."
    ". secure ."
    ". links ."
    ". address ."
    ;
}
main > #logo {
    grid-area: logo;
}
body > main {
    grid-area: main;
}
#header {
    grid-area: header;
}
#bulletPoints {
    grid-area: bulletPoints;
}
#bulletPoint li {
    grid-area: list;
}
#mainText {
    grid-area: mainText;
}
#ebook {
    grid-area: ebook;
}
#form {
    grid-area: form;
}
#secure {
    grid-area: secure;
}
main > #footer #links {
    grid-area: links;
}
main > #footer #address {
    grid-area: address;
}
@media (max-width: 450px) {
    body > main {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "logo"
        "main"
        "header"
        "bulletPoints"
        "list"
        "mainText"
        "ebook"
        "form"
        "secure"
        "links"
        "address"
        ;
    }
    #header {
        font-size: x-large;
    }
    #bulletPoints,
    #bulletPoint li {
        font-size: x-large;
        font-weight: bold;
        text-align: left;
    }
    #mainText{
        font-size: x-large;
    }
    #form{
        font-size: x-large;
        font-weight: bold;
    }
    #form #name,
    #form #emailAddress {
    width: 220px;
    height: 20px;
}
}   