html{ /* Define rules for the entire html element */
    height: 100%;
    font-size: 16px;
}
* {  /* Universal selector to set rules to apply to all elements */
    box-sizing: border-box;
}
body { /* Define rules for the body element */

    /* non-standard 'Raleway' font linked in the html head tag  */
    font-family: 'Raleway', sans-serif; /* specify fot for the page */
                                              /* top color, bottom color */
    background-image: linear-gradient(to bottom, #858c90, #bbb); /* Gradient color for the background */

    background-repeat: no-repeat;  /* Instead of repeating the background - stretch it */

    background-attachment: fixed;  /* Don't scroll the background with the page */
}
div.trello-list{  /* Style all div's with the class="trello-list" */
    display: inline-block; /* Multi column layout */

    width: 300px; /* fixed size columns */

    background-color: #ddd;  /* set background color */

    border-radius: 2px 3px;  /* slightly rounded corners */
}
div.trello-list h2{  /* style all the h2 tags in div's with class="trello-list" */
    margin: 8px;  /* move it over from the edge */

    font-size: 1rem; /* keep the font size consistent with the document size */

    font-weight: bold;
}
div.trello-list ol {
    margin: 0; /* left justify */

    padding: 0; /* no space at top */
}
div.trello-list li {
    list-style: none; /* remove the numbers from list item */
    
    background-color: rgb(255, 255, 255); /* specifying the background color */

    font-size: .9rem; /* set font size to b slightly smaller than title */

    border-radius: 1px; /* round the corners */

    margin-bottom: 10px; /* put some space between the items */

    padding: 8px; /* add some padding within the items - makes them wider */
}
div.trello-list li:hover{/* when the user hovers on an item */
    background-color: #f5f6f7;
    color: #092d42;
}
div.trello-list li:last-child { /* style the last item in the list */
    margin-bottom: 0px; /* remove margin from bottom */
}
div.trello-list a {
    display: block; /* go to  new line and stretch to fill the column */

    text-decoration: none; /* remove the underline of the hyperlink */

    color: darkgray; /* change color of font */

    padding: 8px, 0px, 8px, 5px; /* top, right, bottom, left padding */

    font-size: .85rem;  /* make font size slightly smaller than list item */
}
div.trello-list a:hover{ /* when the user hovers on the words */
    background-color: rgba(9, 45, 66, 0.1);
}
div.trello-list {
    margin-right: 10px; /* space list to right a little bit */
    vertical-align: top; /* align the tops ofa all trello list items */
}
body{
    white-space: nowrap; /* do not wrap items in the body - make them go horizontal */
}
div.trello-list {
    white-space: normal;
}
header > h1, /* select all h1 elements with header as a parent */ 
header > p {/* and the p elements with header as a parent */
    display: inline-block; /* go across screen instead of downs */

    height: 20px;

    padding-right: 20px;

    border-right: 1px solid; /* makes vertical lines between elements */

    vertical-align: middle; /* align items in the middle of the block  */

    color: white;
}
header > h1 {
    text-transform: uppercase;
    font-size: 1.1rem;
}
header > p {
    font-size: .9rem;
    padding-left: 5px;
}
.labels span { /* style any class="labels" */
display: inline-block;
vertical-align: top;
width: 35px;
height: 8px;
border-radius: 3px;
}
.label.pathway {
    background-color: red;
}
.label.pair {
    background-color: teal;
}
.label.individual {
    background-color: green;
}
.label.general { 
    background-color: orange;
}
/* to style the scroller provided by the browser */
/* a tool known as webkit is used to produce the scroller */

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: #bbb;
}
body::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #888;

}
